<strong>Olá, {{ studentName }}</strong>
<p>A pergunta que você fez anteriormente foi respondida</p>
<p>
  <strong>Pergunta:</strong><br />
  {{ question }}
</p><br />

<p>
  <strong>Resposta - {{ answerDate }} </strong><br />
  {{ answer }}
</p>
